<h1>{{ deal.sellerGameName }}</h1>

<img src="{{deal.sellerGamePhoto}}" alt="Game photo">

<p>From: {{deal.sellerName}}</p>

  <label>Exchange For: {{ deal.buyerGameName}}</label>
  <br>
  <label for="startDate">Starting Date: {{ dateFormat deal.startDate "dddd, DD/MM/YYYY"}} </label>
  <br>
  <label for="endDate">Ending Date: {{ dateFormat deal.endDate "dddd, DD/MM/YYYY "}} </label>
  <br>


  <form action="/deal/{{deal.id}}/accept" method="post"><Button>Accept</Button></form>
<form action="/deal/{{deal.id}}/reject" method="post"><button>Reject</button></form>



<div class="comments-section">
  <h1>Have any questions for the other user? Leave a comment bellow</h1>



{{#each deal.comments}}
<div class="individual-comment">
  <img src="{{creator.photo}}" alt="image" style="width: 50px; height: 50px; border-radius:50%">{{creator.name}} <br>
  {{ dateFormat createdAt "dddd, MMMM Do YYYY, h:mm:ss a "}}
  <br>
  {{content}}
</div>



{{/each}}



<form method="POST" action='/deal/{{deal.id}}/comment'>
  <textarea name="content" placeholder="Post something please"></textarea>
     
  <button> Leave the user a comment!</button>
</form>
</div>
