<h1>{{ deal.sellerGameName }}</h1>

<img src="{{deal.sellerGamePhoto}}" alt="Game photo">

<p>From: {{deal.sellerName}}</p>

  <label>Exchange For: {{ deal.buyerGameName}}</label>
  <br>
  <label for="startDate">Starting Date: {{ dateFormat deal.startDate "dddd, DD/MM/YYYY"}} </label>
  <br>
  <label for="endDate">Ending Date: {{ dateFormat deal.endDate "dddd, DD/MM/YYYY "}} </label>
  <br>
<<<<<<< HEAD
  <label for="sellerId" style="color: red;"><strong>Seller ID to HIDE later!</strong></label>
  <input id="sellerId" value={{game.creator._id}} name="sellerId" > 
  <br>
  <label for="sellerGame" style="color: red;"><strong>Seller Game ID to HIDE later!</strong></label>
  <input id="sellerGame" value={{game._id}} name="sellerGame" >
  
  <button>Propose Deal</button>
=======
>>>>>>> 97db2892f0490d465eb9bfdd808719ccb68d09c4



<div class="comments-section">
  h1
</div>
