<h1>{{ deal.sellerGameName }}</h1>

<img src="{{deal.sellerGamePhoto}}" alt="Game photo">

<p>From: {{deal.sellerName}}</p>

  <label>Exchange For: {{ deal.buyerGameName}}</label>
  <br>
  <label for="startDate">Starting Date: {{ dateFormat deal.startDate "dddd, DD/MM/YYYY"}} </label>
  <br>
  <label for="endDate">Ending Date: {{ dateFormat deal.endDate "dddd, DD/MM/YYYY "}} </label>
  <br>



<div class="comments-section">
  <h1>Have any questions for the other user? Leave a comment bellow</h1>

<form method="POST" action='/deal/{{deal.id}}/comment'>
  <textarea name="content" placeholder="Post something please"></textarea>
     
  <button> Leave the user a comment!</button>
</form>
</div>
