{{#if user.games}}


<div class="game-img-single-deal">
<div>
<h3>{{ game.name }}</h3>
<h4>{{ game.platform }}</h4>
</div> 
<img src="{{game.photo}}" alt="Game photo">
<div>
  <!-- make a link to the owner profile -->
<p><a href="/views/profile.hbs">From: {{gameCreator.name}}</a></p>
</div>
</div>

<div class="sign">
<form action="/deal/new-deal" method="POST">
  <label>Exchange For:</label>
  <select id="buyerGame-list" name="buyerGame">
      <option value="" selected="selected" hidden>Please Select One</option>
    {{#each user.games}}
      <option value="{{this._id}}">{{this.name}}</option>
    {{/each}}
  </select>

  <label for="startDate">Starting Date</label>
  <input id="startDate" type="date" placeholder="Date" name="startDate">
  
  <label for="endDate">Ending Date</label>
  <input id="endDate" type="date" placeholder="Date" name="endDate">
  <button class="btn btn-secondary mt-5">Propose Deal</button>
</div>

  {{!-- JUST FOR PASSING DATA --}}
  <div style="display: none">
    <label for="sellerId" style="color: red;"><strong>Seller ID to HIDE later!</strong></label>
    <input id="sellerId" value={{game.creator._id}} name="sellerId" >
    
    <label for="sellerGame" style="color: red;"><strong>Seller Game ID to HIDE later!</strong></label>
    <input id="sellerGame" value={{game._id}} name="sellerGame" >
    
    <label for="sellerGamePhoto" style="color: red;"><strong>Seller Game Photo to HIDE later!</strong></label>
    <input id="sellerGamePhoto" value={{game.photo}} name="sellerGamePhoto" >
    
    <label for="sellerName" style="color: red;"><strong>Seller Name to HIDE later!</strong></label>
    <input id="sellerName" value={{gameCreator.name}} name="sellerName" >
    
    <label for="sellerPhoto" style="color: red;"><strong>Seller Photo to HIDE later!</strong></label>
    <input id="sellerPhoto" value={{gameCreator.photo}} name="sellerPhoto" >
    
    <label for="sellerGameName" style="color: red;"><strong>Seller Game Name to HIDE later!</strong></label>
    <input id="sellerGameName" value={{game.name}} name="sellerGameName" >
  </div>

</form>


{{else}}
<div class="sign">
<p>Uh-oh! Seems like you don't have any games! You have to post one of yours in order to participate in our community!</p>
</div>
<button class="btn btn-secondary mt-5"><a href="/game/create">Upload Game</a></button>


{{/if}}