<div class="profile-view">


<div class="intro-to-profile">



<div>
  <h1>Welcome {{user.name}} ! You have {{pendingActions}} offers right now.</h1>
<span><strong>Name</strong>: {{user.name}}</span>
<br />
<span><strong>Email</strong>: {{user.email}}</span>
<br>
<a href="/profile/edit"> Edit your profile!</a>

</div>
<div>
{{#if user.photo}}
  <br>
  <img src="{{ user.photo }}" alt="user photo" class="profile-image">
{{/if}}

</div>
</div>
<br>


<h2>My Wish List</h2>
<p>{{user.wishlist}}</p>



<h2>Incoming Offers</h2>
{{#if pendingOffers}}
<div class="deal-div">
{{#each pendingOffers}}

<div class="deal-in-profile">
<p>{{buyerGameName}} for {{sellerGameName}} </p><br>
<p>{{buyerName}}   with {{sellerName}}</p> 
<br>
<p>Deal Status: {{status}}</p> 
<br>
<a href="deal/{{id}}">View Deal</a>

<form action="/deal/{{id}}/accept" method="post"><Button>Accept</Button></form>
<form action="/deal/{{id}}/reject" method="post"><button>Reject</button></form>

</div>
{{/each}}
</div>
{{else}}
<p>You have no incoming pending offers</p>

{{/if}}


<h2>Pending Requests</h2>

<div class="deal-div">
{{#if pendingRequests}}
{{#each pendingRequests}}

<div class="deal-in-profile">
{{buyerGameName}} for {{sellerGameName}} <br>
{{buyerName}}   with {{sellerName}}
<br>
Deal Status: {{status}}
<br>
<a href="deal/{{id}}">View Deal</a>
</div>
{{/each}}

{{else}}
<p>You have made no offers, <a href="/" style="color: red;">check out</a> what some of our other users have to offer!</p>

{{/if}}
</div>


<a href="/deal/history" style="color: red;">Click here to view your deal history</a>


<div class="games heading">
  <h2>Your games</h2>
</div>
<div class="games-in-profile">

{{#if game}}
{{#each game}}

<h3>{{name}}</h3>

<h2>Your games</h2>
{{#if game}}
{{#each game}}

<h3>{{name}}</h3>

<img src="{{photo}}" alt="Game Photo">

<a href="/game/{{ _id }}/edit">Edit game</a>
<br>
<a href="/game/{{ _id }}/delete">Delete game</a>
<br>
<a href="/game/{{_id}}">View this game</a>




{{/each}}

{{else}}

<p>You haven't posted a game! Click above on Post Your Game to begin sharing! </p>

{{/if}}

</div>

</div>