<h1>Welcome</h1>
<p>This is your profile</p>
<span><strong>Name</strong>: {{user.name}}</span>
<br />
<span><strong>Email</strong>: {{user.email}}</span>

{{#if user.photo}}
  <br>
  <img src="{{ user.photo }}" alt="user photo">
{{/if}}
<br>
<a href="/profile/edit"> Edit your profile!</a>

<h2>My Wish List</h2>
<p>{{user.wishlist}}</p>


<h2>Your games</h2>

{{#each game}}

<h3>{{name}}</h3>

<img src="{{photo}}" alt="Game Photo">

<a href="/game/{{ _id }}/edit">Edit game</a>
<br>
<a href="/game/{{ _id }}/delete">Delete game</a>
<br>
<a href="/game/{{_id}}">View this game</a>




{{/each}}