

{{!---------- SEARCH BAR ----------}}
<section id="search-bar">
  <form class="form-inline my-2 my-lg-0 d-flex justify-content-center py-5" method="GET" action="/game/search">
    <select class="custom-select" name="platform">
      <option id="select-platform" value="" selected hidden disabled>Select platform</option>
      <option value="Xbox">Xbox</option>
      <option value="Playstation">Playstation</option>
      <option value="Nintendo Switch">Nintendo Switch</option>
    </select>
    <input class="form-control mr-sm-2 game-search" type="search" placeholder="Search your favourite game" name="name" aria-label="Search">
    <button class="btn btn-secondary my-2 my-sm-0 pr-3" type="submit">
      <svg class="mr-2" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
        <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
      </svg>
      Search
    </button>
  </form>
</section>


{{#if name}}
{{!---------- SEARCH RESULTS ----------}}
<h4 class="text-white text-center pb-3">This are the games matching {{name}}</h4>
{{/if}}

<section id="games-grid" class="pt-3 pb-5">
  <div class="container">
    <div class="row">
      {{#each games}}
        <div class="col-lg-3 col-md-6 mb-5">
          <div class="card bg-light mb-5 mb-lg-0">
            <div class="card-body">
              <a class="text-dark" href="game/{{id}}">
                <div class="img-thumbnail bg-light games-grid-image mb-3">
                  <img class="img-fluid" src="{{photo}}" alt="{{name}}">
                </div>
                <h6 class="text-center mb-4">{{name}}</h6>
                <a href="game/{{id}}" class="btn btn-block btn-primary text-uppercase">Details</a>
              </a>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</section>
