<h1>{{game.name}}</h1>

<span>Game owned by <a href="/profile/{{ game.creator._id }}">{{ game.creator.name }}</a></span>

<div class="game">

  <p>{{ game.content }}</p>
  <p>{{game.platform}}</p>
  <p>{{ game.date }}</p>
    <img src="{{ game.photo }}" alt="photo of game"><p></p>
</div>

{{#if sameUser}}

  <a href="/game/{{ game._id }}/edit" class="btn btn-secondary-light w-100 mt-5">Edit Game</a>

  <form method="POST" action="/game/{{ game._id }}/delete">
    <button class="btn btn-secondary mt-5">Delete Game</button>
  </form>

{{else}}

  <form action="/deal/new-deal/{{game._id}}">
    <button class="btn btn-secondary mt-5">Exchange Game</button>
  </form>

{{/if}}