<h1>{{game.name}}</h1>

<span>Game owned by <a href="/profile/{{ game.creator._id }}">{{ game.creator.name }}</a></span>

<div class="game">

  <p>{{ game.content }}</p>
  <p>{{game.platform}}</p>
  <p>{{ game.date }}</p>
    <img src="{{ game.photo }}" alt="photo of game"><p></p>
</div>

<form action="/new-deal" method="POST">
  <button>Exchange Game</button>
</form>

<form method="POST" action="/game/{{ game.id }}/delete">
  <button>Delete Game</button>
</form>