<div class="incoming">
  <div class="title">
    <h3>{{game.name}}</h3>
    <h5>{{game.platform}}</h5>
  </div>
  <img src="{{game.photo}}" class="display-img" alt="photo of game"><p></p>
  <div class="subtitle">
    <h5>OWNER COMMENT</h5>
  </div>
  <div class="title">
    <h5>"{{game.content}}"</h5>
      <h6>
      Meet the owner: <a href="/profile/{{game.creator._id}}">{{game.creator.name}}</a>
      </h6>
  </div>

{{#if sameUser}}

  <a href="/game/{{ game._id }}/edit" class="btn btn-secondary-light w-100 mt-5">Edit Game</a>

<form method="get" action="/game/{{game._id}}/delete">
  <button class="btn btn-secondary mt-5">Delete Game</button>
</form>

{{else}}

  <form action="/deal/new-deal/{{game._id}}">
    <button class="btn btn-secondary mt-5">Exchange Game</button>
  </form>

{{/if}}